<ion-view title="Route">
  <ion-nav-buttons side="right">
    <button ng-click="route.showSearchPopup()" class="button icon ion-search"></button>
  </ion-nav-buttons>
  <ion-content>
    <ev-google-map class="route-map" center="route.currentPosition" route="route.route"></ev-google-map>

    <div class="list" ng-repeat="leg in route.route.legs">
      <div class="item item-divider">
        {{leg.duration.text}}, {{leg.distance.text}}
      </div>
      <label class="item" ng-repeat="step in leg.steps">
        {{step.duration.text}}, {{step.distance.text}}
        <br>
        {{step.start_location | latlng}} -&gt; {{step.end_location | latlng}}
        <br>
        <span ng-bind-html="step.html_instructions"></span>
      </label>
    </div>
  </ion-content>
</ion-view>
