.route-map {
  width: 100%;
  height: 250px;
  display: block;
  border-bottom: 1px solid #ccc;
}

.elevation-chart {
  display: block;
  width: 100%;
}

.elevation-chart-area {
  fill: rgba(0, 0, 255, 0.5);
}

.elevation-chart-axis line,
.elevation-chart-axis path {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  shape-rendering: crisp-edges;
}

// Enable Google Maps Autocomplete on ionic's popup.
.popup-open {
  .pac-container {
    pointer-events: auto;
    // TODO: Not sure if this is neccessary.
    * {
      pointer-events: auto;
    }
  }
}
