.route-map {
  width: 100%;
  height: 300px;
  display: block;
  border-bottom: 1px solid #ccc;
}

.elevation-chart {
  display: block;
  width: 100%;
}

.elevation-chart-area {
  fill: rgba(0, 0, 255, 0.5);
}
